<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- App logo -->
        <a class="navbar-brand" sec:authorize="isAuthenticated() and hasRole('ADMIN')"
            th:href="@{/admin/home}">BikeTrack</a>
        <a class="navbar-brand" sec:authorize="isAuthenticated() and !hasRole('ADMIN')" th:href="@{/}">BikeTrack</a>
        <a class="navbar-brand" sec:authorize="isAnonymous()" th:href="@{/login}">BikeTrack</a>
        <!-- Collapsible navigation button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation bar content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
            </ul>

            <ul class="navbar-nav ms-auto">
                <li sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:text="${currentUser != null ? currentUser.name : 'Usuario'}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <!-- Logout button -->
                    <form th:action="@{/logout}" method="post" class="inline">
                        <button type="submit" class="btn btn-link nav-link">
                            Cerrar sesión
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>